* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Prosto One', sans-serif;
    src: url("../fonts/Gilroy-Semibold.ttf");
}

@font-face {
    font-family: 'Prosto One', sans-serif;
    src: url("../fonts/Merriweather-Black.ttf");
}

body {
    background-color: #909695;
    background-image: url(../images/Vector1.png);
    /* height: 100vh; */
    /* border-image-width: 100%; */
    /* background-size: cover; */
    /* background-position: center; */
    font-family: 'Prosto One', sans-serif;
    font-optical-sizing: auto;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.button {
    background: linear-gradient(135deg, #2d8ab8 0%, #67c0e3 100%);
    border-radius: 8px;
    width: 260px;
    height: 62px;
    padding: 19px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: #191411;
    font-size: 18px;

}

.button:hover {
    background: linear-gradient(135deg, #0d968a 0%, #46d4b8 100%);
}

.main {
    background-color: #858b8a;
    background-image: url(../images/Vector1.png);
    border-image-width: 100%;
    background-position: top center;
    overflow: hidden;
    height: auto;
}

.common-title {
    font-family: 'Prosto One', sans-serif;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header {
    padding: 40px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img{
    vertical-align: bottom;
    width: 80px;
    border-radius: 60%;
}

.menu {
    margin-left: 191px;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 88px;
}

.menu-item a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover {
    border-bottom: 1px solid white;
}

.currency {
    border: 1px solid #fff;
    padding: 13px 0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}

.main-content {
    padding-top: 103px;
    padding-bottom: 199px;
}

.main-content .container {
    position: relative;
}

.main-info {
    max-width: 608px;
}

.main-small-info {
    background: #fc5f5ff4;
    border-radius: 100px;
    padding: 12px 16px;
    display: inline-block;
    font-size: 18px;
    color: #65ef10;
}

.main-title {
    font-size: 120px;
    font-family: 'Prosto One', sans-serif;
    line-height: 156px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.main-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
}

/* .why {
    background-image: url('../images/whybg.png');
    background-position: top center;
    background-size: initial;
    padding-bottom: 180px;
} */

/* .why-items {
    margin-top: 60px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
} */

/* .why-item {
    text-align: center;
} */

/* .why-item-title {
    font-size: 24px;
    line-height: 29px;
    padding: 24px 0;
} */

/* .why-item-text {
    font-size: 16px;
    line-height: 140%;
} */

/* .products {
    background-image: url('../images/background.png');
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
} */

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin-top: 60px;
}

.products-item {
    padding: 30px;
    background-color: rgba(11, 80, 75, 0.685);
    border-radius: 16px;
    border: 1px solid rgb(6, 113, 106);
}

.products-item-image {
    height: 250px;
}

.products-item-image img {
    max-width: 100%;
}

.products-item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 24px 0;
}

.products-item-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}

.products-item-extra {
    display: flex;
    justify-content: space-between;
}

.products-item-price {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
}

.products-item-weight {
    font-size: 16px;
    line-height: 18px;
    color: #757575;
}

.product-button {
    display: flex;
    justify-content: center;
    width: 182px;
    height: 62px;
}

.button .product-button span:first-child {
    margin-bottom: 18px;
}

.order {
    background-image: url(../images/Vector1.png);
    background-color: rgb(106, 134, 133);
    background-position: absolute;
    /* background-repeat: no-repeat; */
    padding-bottom: 1%;
    overflow: hidden;
}

.order .container {
    position: right;
}

.order-image {
    position: left;
    top: 50;
    right: calc(40% - 240px);
    z-index: 1;
    /* width: 20%; */
}

.order-form {
    border-radius: 16px;
    border: 1px solid #00263a;
    background: rgba(11, 80, 75, 0.685);
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.order-form-text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.order-form-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.order-form-input {
    width: 344px;
    height: 62px;
    background: linear-gradient(95.61deg, #15f4cb 0%, #52eecc 100%);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-form-input input {
    padding: 16px 10px;
    background: #16211f;
    border-radius: 8px;
    color: white;
    width: 342px;
    height: 60px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
}

.order-form-inputs .button {
    width: 344px;
    height: 62px;
}

.footer {
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 16px;
    line-height: 20px;
}